name: Weekly Dad Digest

on:
  schedule:
    # Runs at 13:00 UTC every Friday
    - cron: '0 13 * * 5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install libraries
        run: |
          pip install -r requirements.txt

      - name: Run Digest Script
        env:
          # Make sure these match the variable names in your python script!
          MONGO_URI: ${{ secrets.MONGO_URI }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        run: python ask_your_mother_v3.py